body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

#title {
    font-size: 36px;
    text-align: center;
    margin-block-end: auto;
}

#subtitle {
    font-size: 20px;
    text-align: center;
}

input[type=text], input[type=password] {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type=text]:focus, input[type=password]:focus {
    border: 1px solid #4CAF50;
}

input[type=submit] {
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #3e8e41;
}

.speak {
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.speak:hover {
    background-color: #3e8e41;
}

.delete {
    padding: 10px;
    margin: 5px;
    background-color: #af4c4c;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.delete:hover {
    background-color: #8e3e3e;
}

.word_card {
    padding: 10px;
    margin: 5px;
    margin-bottom: 0;
    !important;background-color: #fff;
    border-radius: 5px;
    border-bottom: #333333 dashed;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.export {
    padding: 10px;
    margin: 5px;
    background-color: #4c8caf;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.export:hover {
    background-color: #3e828e;
}

.story {
    padding: 10px;
    margin: 5px;
    background-color: #6d4caf;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.story:hover {
    background-color: #6e3e8e;
}

.manual_btn {
    padding: 10px;
    margin: 5px;
    background-color: #4c7aaf;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.manual_btn:hover {
    background-color: #3e6f8e;
}

.dialog{
    border-radius: 5px;
    background-color: rgb(243, 243, 244);
    /*position: fixed;*/
    text-align: center;
    width: 75%;
}

.close_dialog_btn {
    padding: 10px;
    margin: 5px;
    background-color: #4c7aaf;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.close_dialog_btn:hover {
    background-color: #3e6f8e;
}

.panel {
    display: none;
    padding: 10px;
    margin: 5px;
    margin-top: 0;
    background-color: #e5f6e5;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.control_panel {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.word {
    font-size: 26px;
    text-shadow: 2px 0 13px #6ecec7;
    margin-block-end: auto;
}

.orig_text {
    font-size: 16px;
}

.pronunciation {
    font-size: 14px;
    color: grey;
}

.addate{
    font-size: 14px;
    color: grey;
    line-height: 28px;
}

.orig_trans {
    font-size: 16px;
    color: grey;
}

.meaning {
    font-size: 18px;
}

