<!DOCTYPE html>
<html>
<head>
    <title>生词本</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='spinner.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='icons.js') }}" crossorigin="anonymous"></script>
    <!--    <script src="https://kit.fontawesome.com/600a4fcfff.js" crossorigin="anonymous"></script>-->
</head>
<body>
<dialog style="display: none" class="dialog">
    <p id="storycontent"></p>
    <div class="word_detail"></div>
    <button class="close_dialog_btn">看完了</button>
</dialog>

<h1 id="title">Awesome Vocab AI <span style="font-size:10px">(AVA)</span></h1>
<h1 id="subtitle">智能生词本 <i class="fa-solid fa-book-bookmark"></i> <span style="font-size:10px">Alpha 0.1</span></h1>
<div class="control_panel">
    <button class="export"><i class="fa-solid fa-file-csv"></i> 导出为Excel文件</button>
</div>
<div class="cssload-loader" style="display: none;">
    <div class="cssload-inner cssload-one"></div>
    <div class="cssload-inner cssload-two"></div>
    <div class="cssload-inner cssload-three"></div>
</div>
<form id="sentence_form" method="POST" style="text-align:center">
    <i class="fa-solid fa-robot"></i> <input id="input" style="width:50%" minlength="25" maxlength="200" type="text"
                                             name="sentence"
                                             placeholder="含有生词的一个句子 (for 智能识别) / 单个单词 (for 手动提交)"
                                             required>
    <input class="submit_btn" type="submit" value="智能识别">
</form>
<div class="control_panel">
    实验功能:
    <button class="manual_btn"><i class="fa-solid fa-user-gear"></i>手动提交单词</button>
    <button class="story"><i class="fa-solid fa-book"></i> 随机 AI 故事</button>

</div>
<hr>
{% for word in words %}
    {% if word['is_mastered'] == 0 %}
        <div class="group" id-word="{{ word['id'] }}">
            <div class="word_card" id="{{ loop.index }}" id-word="{{ word['id'] }}">
                <h3 class="word">{{ word['word'] }} {% if word['word_normal'] != word['word'] %} ({{ word['word_normal'] }}
                    ) {% endif %}</h3>
                <p class="pronunciation">{{ word['pronunciation'] }}</p>
            </div>
            <div class="panel" id="info-{{ loop.index }}" id-word="{{ word['id'] }}">
                <button class="speak" word="{{ word['word'] }}">
                    <i class="fa-solid fa-volume-high"></i>
                    发音
                </button>
                <p class="meaning">释义: <span style="font-weight: bolder">{{ word['meaning'] |safe }}</span></p>
                <p class="orig_text"><span
                        style="font-style:italic; font-weight: bolder;">({{ word['part_of_speech'] }})</span> {{ word['orig_text'] |safe }}
                </p>
                <p class="orig_trans">{{ word['orig_translation'] }}</p>

                <div style="background:linear-gradient(to left,#e3f4e4,#b6b6b6,#e3f4e4);height:3px;"></div>

                <button class="delete" id-word="{{ word['id'] }}">
                    <i class="fa-solid fa-trash"></i>
                    已掌握
                </button>
                <div class="addate">添加时间: {{ word['add_date'] }}</div>
            </div>
        </div>

    {% endif %}
{% endfor %}
</body>
<script>
    $(document).ready(function () {
        window.history.replaceState(null, null, window.location.href);
        $('#sentence_form').submit(function (e) {
            e.preventDefault();
            $(".cssload-loader").show(1000, "linear");
            this.submit();
        });
    });
</script>
<script src="{{ url_for('static', filename='page_function.js') }}"></script>

</html>
